.dark-mode{
    // background: #0F2027;  
    // background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
    // background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 

    // background: #373B44;  
    // background: -webkit-linear-gradient(to right, #373B44, #4286f4); 
    // background: linear-gradient(to right, #373B44, #4286f4); 

    background: #485563;  
    background: -webkit-linear-gradient(to right, #485563, #29323c); 
    background: linear-gradient(to right, #485563, #29323c); 



    p{
        color: $blanco;
    }

    a, h1, h2, h3, h4{
        color: $gris;
    }

    .anuncio,
    .resumen-propiedad{
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;

        .precio{
            color: $verde;
        }
        .icono{
            filter: invert(100%);
        }
    }
    .resumen-propiedad{
        padding: 2rem;
    }
    .texto-nosotros blockquote{
        color: $blanco;
    }
    .formulario{
        label,
        legend,
        p{
            color: $gris;
        }
        input:not([type="submit"]),
        textarea,
        select{
            background-color: $grisOscuro;
            border: 1px solid $grisOscuro;
            color: $blanco;
        }
    }
}