@include tablet{
    .iconos-nosotros{
        @include grid(3, 2rem);
    }
}
.icono{
    img{
        height: 10rem;
    }
    h3{
        text-transform: uppercase;
    }
}

.img_mision{
    cursor: pointer;

}

#mision {
    display: none;

}
  
#icono_mision:hover > #mision {
    display: block;
}


.img_vision{
    cursor: pointer;

}

#vision {
    display: none;

}
  
#icono_vision:hover > #vision {
    display: block;
}

.img_valores{
    cursor: pointer;

}

#valores {
    display: none;

}
  
#icono_valores:hover > #valores {
    display: block;
}